@import "bower_components/cells-sass/main";
@import url('https://fonts.googleapis.com/css?family=Roboto');

$Roboto-font: 'Roboto', Arial;

:host {
  display: block;
  box-sizing: border-box;
  // font-family: var(--cells-fontDefault, '$Roboto-font');
  @apply --cells-luis-kelly-login;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

:host *{
  font-family: $Roboto-font;
}

:host div.login-form-container{
  position: absolute;
  width: 43%;
  height: 400px;
  background: rgb(0, 89, 255);
  left: 50%;top:50%;
  transform:translate(-50%,-50%);
  border-radius: 20px;
}
@media (max-width:820px){
  :host div.login-form-container{
      width: 96%;
  }
}
:host div div.login-form-content{
  display: table;
  width: 100%;
  height: 100%;
}
.form{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  width: 300px;
  height: 300px;
}
.form .row{
  display: block;
  width: 100%;
}
.form input, .form label{
  display: inline-block;
  margin-top: 10px;
}
.form h1{
  font-family: $Roboto-font;
  color: white;
}
.form input{
  width: 60%;
  padding: 10px;
  border: 1px solid rgb(0, 89, 255);
  border-radius: 5px;
}
.form label{
  width: 30%;
  text-align: center;
}
.form input[type=submit]{
  margin: 15px;
  padding: 15px;  
  border: 1px solid white;
  color: white;
  background:rgb(0, 89, 255);
  border-radius: 15px;
  width: 120px;
  font-size: 18px;
}
.form input[type=submit]:hover{
  background: white;
  color: cornflowerblue;
  cursor: pointer;
}