<dom-module id="cells-luis-kelly-login-styles"><template><style>
@import url("https://fonts.googleapis.com/css?family=Roboto");
:host {
  display: block;
  box-sizing: border-box;
  @apply --cells-luis-kelly-login; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

:host * {
  font-family: "Roboto", Arial; }

:host div.login-form-container {
  position: absolute;
  width: 43%;
  height: 400px;
  background: #0059ff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px; }

@media (max-width: 820px) {
  :host div.login-form-container {
    width: 96%; } }

:host div div.login-form-content {
  display: table;
  width: 100%;
  height: 100%; }

.form {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
          align-items: center;
  width: 300px;
  height: 300px; }

.form .row {
  display: block;
  width: 100%; }

.form input, .form label {
  display: inline-block;
  margin-top: 10px; }

.form h1 {
  font-family: "Roboto", Arial;
  color: white; }

.form input {
  width: 60%;
  padding: 10px;
  border: 1px solid #0059ff;
  border-radius: 5px; }

.form label {
  width: 30%;
  text-align: center; }

.form input[type=submit] {
  margin: 15px;
  padding: 15px;
  border: 1px solid white;
  color: white;
  background: #0059ff;
  border-radius: 15px;
  width: 120px;
  font-size: 18px; }

.form input[type=submit]:hover {
  background: white;
  color: cornflowerblue;
  cursor: pointer; }

</style></template></dom-module>